<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FCM Push</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $("#submit").click(ajax_send);
        });

        function ajax_send() {
            alert("script call");

            const form1 = $("#form").serialize();

            $.ajax({
                type: "POST",
                url: "http://localhost:8055/notification/sendPush",
                async: true,
                headers : {              // Http header
                    "Content-Type" : "application/json",
                    "X-HTTP-Method-Override" : "POST"
                },
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(form1),

                success: function (result) {
                    alert("success");
                },
                error: function (request, status, error) {
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });

        }


    </script>
</head>

<body>
<!--<h1 th:text="${something}"></h1>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<div class="container" style="min-width: 600px">
<form id="form">
    <div class="mb-3">
        <label for="InputTitle" class="form-label">제목</label>
        <input type="text" class="form-control" id="InputTitle" name="InputTitle">
<!--        <div id="TitleHelp" class="form-text">제목을 입력해 주세요.</div>-->
    </div>
    <div class="mb-3">
        <label for="InputMessage">메세지</label>
        <textarea class="form-control" id="InputMessage" name="InputMessage" style="height: 100px"></textarea>
<!--        <div id="messageHelp" class="form-text">-->
<!--            푸시 메세지 내용을 입력 해 주세요.-->
<!--        </div>-->
    </div>
    <div class="mb-3">
        <label for="InputToken" class="form-label">FCM Token</label>
        <input type="text" class="form-control" id="InputToken" name="InputToken" value="f04ibsKxRPSZjMKmruJtCM:APA91bHTNaBjrO2AG_prfK1E09dQl5MAnxRswLj9oSk2g9eLb5cRIJY_SwiSkjJAC_pSkaQMkz6guFwPEPggje1qpKUZtzVDywmWMA2je-gXQCZcIH62NWbGGg1ih8nKOmgbnzomkInA">
        <div id="tokenHelp" class="form-text">
            푸시 토큰값을 입력해 주세요.
        </div>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
<!--    <input type="submit" id="submit" class="btn btn-primary" onclick="javascript:ajax_send();" value="발송"></input>-->
</form>
</div>


</body>
</html>